{{>header}}

<section class="detail">
<h1>Car details</h1>

    <article>
        <h2>Merk: {{car.merk}}</h2>
        <p>Kenteken: {{car.kenteken}}</p>
        
 
        <p>Type: {{car.type}}</p>
        <p>Kleur: {{car.kleur}}</p>
    </article>

    <section>
        <h3>Locatie:</h3>
        <iframe src = "https://maps.google.com/maps?q={{car.locatie}}&hl=es;z=14&amp;output=embed"></iframe>
    </section>
</section>
