{{>header}}

<section class="match">
    <h1>Jouw auto's</h1>

    {{#each cars}}
    <article>
        <figure>
            <img src="/images/car.png">
        </figure>
        <section class="main">
            <h2>{{merk}}</h2>
            <p>Kenteken: {{kenteken}}</p>
            <p>Type: {{type}}</p>
            <p>Kleur: {{kleur}}</p>
            <a href="/{{_id}}/{{slug}}"><button>Meer info</button></a>
        </section>
    </article>
    {{/each}}

</section>