{{>header}}

<section class="match">
    <h1>Jouw auto's</h1>

    {{#each cars}}
    <article>
        <section class="main">
            <a href="/{{_id}}/{{slug}}"><h2>{{merk}}</h2></a>
            <p>{{kenteken}}</p>
        </section>
        <section class="info">
            <p>{{type}}</p>
            <p>{{kleur}}</p>
        </section>
    </article>
    {{/each}}

</section>